body {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    height: 100vh;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}
.wrapper form {
    /*text-align: center;*/
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 30rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .7);
}

.wrapper form .btn-wrapper {
    display: flex;
    justify-content: center;
}
