body {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    /*padding-top: 2rem;*/
    height: 100vh;
}

.header {
    text-align: center;
}

.wrapper form {
    position: relative;
    margin-top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 30rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .7);
}

.wrapper form .btn-wrapper {
    display: flex;
    justify-content: center;
}
