.custom-card{
    border-bottom: 1px solid #777779;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.more-info-btn {
    background: #ec951a;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
}

.info-part{
    display: flex;
    flex-direction: column;
}

.add-btn {
    background: #ec951a;
    border: 1px solid #000;
    padding: 2px 25px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}


.about-card{
    border: 1px solid #000;
    padding: 10px;
    background-color: #dadada;
}