{% extends 'main.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body %}
<div class="carousel-wrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="{% static 'media/images/carousel-img1.jpg' %}" height="500px" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'media/images/carousel-img2.jpg' %}" height="500px" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="{% static 'media/images/carousel-img2.jpg' %}" height="500px" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="choice-wrapper ">
    <div class="forms">
        <form action="{% url 'search-tickets' %}" method="get">
            <h1>Bilet elde edin</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-bus" value="bus-search"
                    autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="radio-bus">Avtobus</label>

                <input type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-train"
                    value="train-search" autocomplete="off">
                <label class="btn btn-outline-primary" for="radio-train">Qatar</label>
            </div>
            <div class="my-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value='one' name="oneortwoway" id="gedis-tek" checked>
                    <label class="form-check-label" for="gedis-tek">Gedis ancaq</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value='two' name="oneortwoway" id="gedis-gayidis">
                    <label class="form-check-label" for="gedis-gayidis">Gedis ve gayidis</label>
                </div>
            </div>
            <div class="mt-3 form-wrapper form-bus">
                <div class="row ps-1">
                    <h5>Avtobus bileti</h5>
                </div>
                <div class="row">
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="bus-start">Burdan:</label>
                        <select id="bus-start" name="bus_start_station" class="form-select"
                            aria-label="Default select example">
                            <option selected disabled></option>
                            {% for city, stations in bus_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option value="{{station.id}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="bus-arrive">Buraya:</label>
                        <select id="bus-arrive" name="bus_arrive_station" class="form-select"
                            aria-label="Default select example">
                            <option selected disabled></option>
                            {% for city, stations in bus_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option value="{{station.id}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="start-date-1">Gedis: </label>
                        <input class="form-control date-input" type="date" name="bus_start_date" id="start-date-1">
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="arrive-date-1">Gelis: </label>
                        <input class="form-control date-input arrive-date" type="date" name="bus_arrive_date" id="arrive-date-1" disabled>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="passenger_count">Adam Sayi: </label>
                        <input type="number" id="passenger_count" class="form-control w-50">
                    </div>
                    <div class="col-xl-2 my-2 text-center d-flex flex-column justify-content-between">
                        <div></div>
                        <div>
                            <button class="btn btn-primary btn-search w-75">Axtar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 form-wrapper form-train hidden">
                <div class="row ps-1">
                    <h5>Qatar bileti</h5>
                </div>
                <div class="row">
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="train-start">Burdan:</label>
                        <select id="train-start" name="train_start_station" class="form-select"
                            aria-label="Default select example">
                            <option selected disabled></option>
                            {% for city, stations in train_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option value="{{station.id}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="train-arrive">Buraya:</label>
                        <select id="train-arrive" name="train_arrive_station" class="form-select"
                            aria-label="Default select example">
                            <option selected disabled></option>
                            {% for city, stations in train_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option value="{{station.id}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="start-date-2">Gedis: </label>
                        <input class="form-control date-input" type="date" name="train_start_date" id="start-date-2">
                    </div>
                    <div class="col-xl-2 my-2">
                        <label for="arrive-date-2" class="form-label">Gelis: </label>
                        <input class="form-control date-input arrive-date" type="date" name="train_arrive_date" id="arrive-date-2" disabled>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="passenger_count">Adam Sayi: </label>
                        <input type="number" id="passenger_count" class="form-control w-50">
                    </div>
                    <div class="col-xl-2 my-2 text-center d-flex flex-column justify-content-between">
                        <div></div>
                        <button class="btn btn-primary btn-search w-75">Axtar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}