{% extends 'main.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">{% endblock %}

{% block body %}
<div class="container c-main">
    <div class="text-start w-50 mb-2">
        <a class="btn btn-primary" href="{% url 'my_profile' %}">Go Back</a>
    </div>
    <div class="form-wrapper w-50">
        <h1>Hesab məlumatları</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="username" class="form-label">Istifadəçi adı:</label>
                    <input
                        value="{{user.username}}"
                        name="username"
                        type="text"
                        class="form-control"
                        id="username"
                        placeholder="Istifadeci adi"
                        required
                    >
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">Ad:</label>
                        <input
                            value="{{user.first_name}}"
                            name="first_name"
                            type="text"
                            class="form-control"
                            id="first_name"
                            placeholder="Ad"
                            required
                        >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Soyad:</label>
                        <input
                            value="{{user.last_name}}"
                            name="last_name"
                            type="text"
                            class="form-control"
                            id="last_name"
                            placeholder="Soyad"
                            required
                        >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="email" class="form-label">Elektron poçt:</label>
                    <input
                        value="{{user.email}}"
                        name="email"
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Elektron poçt"
                        required
                    >
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="phone_number" class="form-label">Telefon nömrəsi:</label>
                    <input
                        value="{{user.phone_number}}"
                        name="phone_number"
                        type="text"
                        class="form-control"
                        id="phone_number"
                        placeholder="Telefon nomresi"
                        required
                    >
                </div>
            </div>
            <div class="mt-2 text-md-end text-center">
                <button type="submit" class="btn btn-primary">Təstiqlə</button>
            </div>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}