{% extends 'main.html' %}
{% load static %}
{% block title %}Xerite axtarisi{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'css/map.css' %}">{% endblock %}

{% block body %}
    <div class="wrapper h-100 d-flex">
        <div class="form-wrapper">
            <form action="{% url 'search-tickets' %}">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-bus"
                        value="bus-search" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="radio-bus">Avtobus</label>

                    <input type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-train"
                        value="train-search" autocomplete="off">
                    <label class="btn btn-outline-primary" for="radio-train">Qatar</label>
                </div>
                <div class="my-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value='one' name="oneortwoway" id="gedis-tek" checked>
                        <label class="form-check-label" for="gedis-tek">Gedis ancaq</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value='two' name="oneortwoway" id="gedis-gayidis">
                        <label class="form-check-label" for="gedis-gayidis">Gedis ve gayidis</label>
                    </div>
                </div>

                <div class="form-div form-bus">
                    <h3>Avtobus</h3>
                    <label class="form-label" for="bus_starting">Burdan:</label>
                    <input list="bus_station_list" class="form-control" name="bus_start_station" type="text" id="bus_starting">

                    <label class="form-label" for="bus_arriving">Buraya:</label>
                    <input list="bus_station_list" class="form-control" name="bus_arrive_station" type="text" id="bus_arriving">

                    <datalist id="bus_station_list">
                    {% for bus_station in bus_stations %}
                        <option value="{{bus_station.name}}">
                    {% endfor %}
                    </datalist>
                </div>
                <div class="form-div form-train hidden">
                    <h3>Qatar</h3>
                    <label class="form-label" for="train_starting">Burdan:</label>
                    <input list="train_station_list" class="form-control" name="train_start_station" type="text" id="train_starting">

                    <label class="form-label" for="train_arriving">Buraya:</label>
                    <input list="train_station_list" class="form-control" name="train_arrive_station" type="text" id="train_arriving">

                    <datalist id="train_station_list">
                    {% for train_station in train_stations %}
                        <option value="{{train_station.name}}">
                    {% endfor %}
                    </datalist>
                </div>
{#                <label class="form-label" for="starting">Burdan:</label>#}
{#                <input class="form-control" name="starting_station" type="text" id="starting">#}

{#                <label class="form-label" for="starting">Buraya:</label>#}
{#                <input class="form-control" type="text" id="starting">#}

                <input class="btn btn-primary mt-2" type="submit" value="Axtar">
            </form>
            <button class=" hide-form" id="hide-form-btn"><i class="fas fa-arrow-up"></i></button>
        </div>
        <div id="map"></div>
    </div>

<script>
    // Show and hide form
    const hide_btn = document.querySelector('#hide-form-btn');
    const form = document.forms[0];

    hide_btn.addEventListener('click', ()=>{
        form.classList.toggle('hidden');
        hide_btn.children[0].classList.toggle('fa-arrow-down');
        hide_btn.children[0].classList.toggle('fa-arrow-up');
    });

    // Map configuration
    const map = L.map('map').setView([40.5,47.8], 7);
    const link = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    let departure_selected = false;
    L.tileLayer(link, { maxZoom:19 }).addTo(map);

    bus_stations = [];
    train_stations = [];

    // Train icon
    const icon_train = L.icon({
        iconUrl: '{% static 'media/images/icon-train.png' %}',
        iconSize: [20, 20],
        iconAnchor: [10, 10],
    });

    // Bus icon
    const icon_bus = L.icon({
        // iconUrl: 'https://www.clipartmax.com/png/small/218-2181404_red-bus-icon-image-embankment-tube-station.png',
        iconUrl: '{% static 'media/images/icon-bus.png' %}',
        iconSize: [20, 20],
        iconAnchor: [10, 10],
    });
    const bus_start_input = document.querySelector('#bus_starting');
    bus_start_input.addEventListener('change', ()=>{
        if(bus_start_input.value === '')
            departure_selected=false
    });
    const bus_arrive_input = document.querySelector('#bus_arriving');
    const train_start_input = document.querySelector('#train_starting');
    train_start_input.addEventListener('change', ()=>{
        if(train_start_input.value === '')
            departure_selected=false
    });
    const train_arrive_input = document.querySelector('#train_arriving');

    {% for station in bus_stations %}
        {% if station.map_x and station.map_y %}
        bus_stations.push(L.marker([{{station.map_x}}, {{station.map_y}}], {
            icon: icon_bus,
            title:"{{station.description}}",
            id:"{{station.id}}",
            type:"{{station.type}}",
        }).addEventListener('click', e=>{
            if(!departure_selected){
                bus_start_input.value = e.target.options.title;
                departure_selected = true;
            } else {
                bus_arrive_input.value = e.target.options.title;
            }
        }));
        {% endif %}
    {% endfor %}
    // Getting train stations markers
    {% for station in train_stations %}
        {% if station.map_x and station.map_y %}
        train_stations.push(L.marker([{{station.map_x}}, {{station.map_y}}], {
            icon: icon_train,
            title:"{{station.description}}",
            id:"{{station.id}}",
            type:"{{station.type}}",
        }).addEventListener('click', e=>{
            if(!departure_selected){
                train_start_input.value = e.target.options.title;
                departure_selected = true;
            } else
                train_arrive_input.value = e.target.options.title;
        }));
        {% endif %}
    {% endfor %}

    function displayBusStations() {
        bus_stations.forEach(station=>{station.addTo(map)});
        train_stations.forEach(station=>{station.remove()});
    }

    function displayTrainStations() {
        train_stations.forEach(station=>{station.addTo(map)});
        bus_stations.forEach(station=>{station.remove()});
    }

    // Show different forms for bus and train
    const [...radio_choice] = document.querySelectorAll('.radio-choice');
    const [...form_divs] = document.querySelectorAll('.form-div');

    displayBusStations();
    radio_choice.forEach(form_btn =>{
        form_btn.addEventListener('change',() => {
            departure_selected = false;
            if(form_btn.checked && form_btn.value === 'train-search'){
                displayTrainStations();
            } else if (form_btn.checked && form_btn.value === 'bus-search') {
                displayBusStations();
            }
            form_divs[0].classList.toggle('hidden');
            form_divs[1].classList.toggle('hidden');
        });
    });

</script>

{% endblock %}