{% extends 'main.html' %}
{% load static %}
{% block title %}Hesabım{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/my-profile.css' %}">
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <div class="profile-container">
            <div class="info-section">
            <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
            <h5>@{{ request.user.username }}</h5>
            <h6>Elektron poçt: {{ request.user.email }}</h6>
            {% if request.user.phone_number %}
            <h6>Elaqə nömrəsi: {{ request.user.phone_number }}</h6>
            {% else %}
            <button id='add-phone' class="btn link-primary">Telefon nömrəsi əlavə edin</button>
            <form method="POST" action="{% url 'add_phone' %}" name="add_phone" class="hidden">
            {% csrf_token %}
                <div class="row">
                    <div class="col-3 text-end">
                        <label for="phone-number" class="col-form-label">Nömrə: </label>
                    </div>
                    <div class="col-7">
                        <div class="input-group">
                            <div class="input-group-text">+994</div>
                            <input id='phone-number' name='phone-number' type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </form>
            {% endif %}
            </div>
            <div class="custom-list-group">
                <a href="{% url 'edit_profile' %}" class="custom-list-group-item">Hesab məlumatların dəyiş</a>
                <a href="{% url 'change_password' %}" class="custom-list-group-item">Şifrəni dəyiş</a>
                <a href="{% url 'my_tickets' %}" class="custom-list-group-item">Biletlərim</a>
            </div>
        </div>
    </div>
</div>

<script>
    let add_phone_btn = document.querySelector('#add-phone');
    add_phone_btn && add_phone_btn.addEventListener('click', ()=>{
        document.forms[0].classList.remove('hidden');
    });
</script>
{% endblock %}