{% extends 'main.html' %}
{% load static %}
{% block title %}Biletlərim{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/my-tickets.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-2 text-lg-start text-center">Biletlərim</h1>
        <div>
            <form action="{% url 'my_tickets' %}" method="GET">
                <div class="row">
                    <div class="col-2">
                        <label class="form-label" for="filter">Filter:</label>
                        <select class="form-control form-submit" name="filter" id="filter">
                            <option {% if request.GET.filter == '' %}selected{% endif %} value="">Filtersiz</option>
                            <option {% if request.GET.filter == 'active' %}selected{% endif %} value="active">Aktiv olanlar</option>
                            <option {% if request.GET.filter == 'bus_only' %}selected{% endif %} value="bus_only">Ancaq avtobus</option>
                            <option {% if request.GET.filter == 'train_only' %}selected{% endif %} value="train_only">Ancaq qatar</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="sort">Sort:</label>
                        <select class="form-control form-submit" name="sort" id="sort">
                            <option {% if request.GET.sort == '' %}selected{% endif %} value="">Sortsuz</option>
                            <option {% if request.GET.sort == 'sort_purchased_at_asc' %}selected{% endif %} value="sort_purchased_at_asc">Alınma tarixi(artma)</option>
                            <option {% if request.GET.sort == 'sort_purchased_at_desc' %}selected{% endif %} value="sort_purchased_at_desc">Alınma tarixi(azalma)</option>

                            <option {% if request.GET.sort == 'sort_date_asc' %}selected{% endif %} value="sort_date_asc">Tarix(artma)</option>
                            <option {% if request.GET.sort == 'sort_date_desc' %}selected{% endif %} value="sort_date_desc">Tarix(azalma)</option>
                        </select>
                    </div>
                <div class="col-2 d-flex align-items-end">
                    <a href="{% url 'return_tickets' %}" class="btn btn-outline-primary">Bilet qaytar</a>
                </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-7 d-flex flex-column ">
                {% if tickets %}
                {% for ticket in tickets %}
                        <div class="custom-card {% if not ticket.is_usable %}not-usable{% endif %}">
                            <div class="custom-card-header">
                                <span class="title">
                                {% if ticket.transport.type == 'Bus' %}
                                    <i class="fas fa-bus"></i>
                                {% elif ticket.transport.type == 'Train' %}
                                    <i class="fas fa-train"></i>
                                {% endif %} {{ticket.transport.description}} ({{ticket.type}})
                                {% if not ticket.is_usable %}(Yararsız){% endif %}
                                </span>
                                <span class="date float-end">{{ticket.transport.departures_at|date:"d/m/Y"}}</span>
                            </div>
                            <div class="card-about hidden">
                                <ul>
                                    <li><span>Klass: {{ ticket.type }}</span></li>
                                    <li><span>Alınma tarixi: {{ ticket.purchased_at|date:"d/m/Y H:i" }}</span></li>
                                    <li><span>Qiymət:
                                        {% if ticket.type == 'usual' %}
                                            {{ ticket.transport.price|floatformat:2 }}
                                        {% elif ticket.type == 'lowcost' %}
                                            {{ ticket.transport.lowcost_price|floatformat:2 }}
                                        {% elif ticket.type == 'business' %}
                                            {{ ticket.transport.business_price|floatformat:2 }}
                                        {% endif %}AZN
                                    </span></li>
                                    <li>Burdan: {{ ticket.transport.starting_point.description }}, saat: {{ ticket.transport.departures_at|date:"H:i" }}</li>
                                    <li>Buraya: {{ ticket.transport.destination.description }}, saat: {{ ticket.transport.arrives_at|date:"H:i" }}</li>
                                    <li>Oturacaq: {{ ticket.seat }}</li>
                                </ul>
                            </div>
                        </div>
                {% endfor %}
                {% else %}
                    <div class="mt-4 alert alert-danger">Biletlər tapılmadı</div>
                {% endif %}


                {% if tickets.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if tickets.has_previous %}
                            <li class="page-item">
                            <a
                                class="page-link"
                                href="?page={{tickets.previous_page_number}}&filter={{request.GET.filter}}&sort={{request.GET.sort}}"
                                aria-label="Previous"
                            ><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        {% endif %}
                        {% for page in tickets.paginator.page_range %}
                            {% if page == tickets.number %}
                            <li class="page-item active">
                                <a class="page-link"
                                   href="?page={{page}}&filter={{request.GET.filter}}&sort={{request.GET.sort}}"
                                >{{page}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{page}}&filter={{request.GET.filter}}&sort={{request.GET.sort}}"
                                >{{page}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        {% if tickets.has_next %}
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="?page={{tickets.next_page_number}}&filter={{request.GET.filter}}&sort={{request.GET.sort}}"
                                aria-label="Next"
                            ><span aria-hidden="true">&raquo;</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            <div class="col-lg-5 d-flex flex-column align-items-center mb-3">
                <div class="list-count list-group list">
                    <div class="list-group-item">
                        <h3>Toplam bilet sayı: {{ total }}</h3>
                    </div>
                    <div class="list-group-item">
                        <h3>Toplam mövcud bilet sayı: {{ usable_tickets }}</h3>
                    </div>
                    <div class="list-group-item">
                        <h6>Toplam avtobus bilet sayı: {{ bus_total }}</h6>
                        <h6>Toplam qatar bilet sayı: {{ train_total }}</h6>
                        <h6>Toplam mövcud avtobus bilet sayı: {{ usable_bus_tickets }}</h6>
                        <h6>Toplam mövcud avtobus bilet sayı: {{ usable_train_tickets }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/my-tickets.js' %}"></script>
{% endblock %}