{% extends 'main.html' %}
{% load static %}

{% block title %}Biletler{% endblock %}
{% block head %}
<style>
    .hidden {
        display: none;
    }

    ..hiddenRow {
    padding: 0 !important;
}
</style>
{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Biletler</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="accordion " id="tickets_accordion">

            </div>
        </div>
        <div class="col-lg-4 my-4 my-lg-0">
            <div class="list-group list">
                <div class="list-group-item">
                    <h2>Odemeye kec</h2>
                </div>
                <div class="list-group-item">
                    <p class="info_p">Toplam mebleg: 32</p>
                    <p class="info_p">Bilet sayi: 5</p>
                </div>
            </div>
            <div class="list-group-item pay-group-item">
                <a href="{% url 'payment-done' %}" class="btn btn-primary d-block pay-btn">Go to payment</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/ticket-cart.js' %}"></script>

{% endblock %}