{% extends 'main.html' %}
{% load static %}
{% block title %}Biletlər{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/tickets.css' %}">
{% endblock %}

{% block body %}

<h1 class="m-5">Bilet Axtarışı</h1>

<section class="choice-wrapper mx-lg-5">
    <div class="forms">
        <form action="{% url 'search-tickets' %}" method="get">
            <h1>Bilet əldə edin</h1>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input {% if request.GET.radio_choice == 'bus-search' %}checked{% endif %} type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-bus"
                    value="bus-search" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="radio-bus"><i class="fas fa-bus"></i> Avtobus</label>

                <input {% if request.GET.radio_choice == 'train-search' %}checked{% endif %} type="radio" class="btn-check radio-choice" name="radio_choice" id="radio-train"
                    value="train-search" autocomplete="off">
                <label class="btn btn-outline-primary" for="radio-train">Qatar <i class="fas fa-train"></i></label>
            </div>
            <div class="my-4">
                <div class="form-check">
                    <input {% if request.GET.oneortwoway == 'one' %}checked{% endif %} class="form-check-input" type="radio" value='one' name="oneortwoway" id="gedis-tek" checked>
                    <label class="form-check-label" for="gedis-tek">Ancaq Gediş</label>
                </div>
                <div class="form-check">
                    <input {% if request.GET.oneortwoway == 'two' %}checked{% endif %} class="form-check-input" type="radio" value='two' name="oneortwoway" id="gedis-gayidis">
                    <label class="form-check-label" for="gedis-gayidis">Gediş və gəliş</label>
                </div>
            </div>
            <div class="mt-3 form-wrapper form-bus">
                <div class="row ps-1">
                    <h5>Avtobus bileti</h5>
                </div>
                <div class="row">
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="bus-start">Burdan:</label>
                        <select id="bus-start" name="bus_start_station" class="form-select">
                            <option {% if not request.GET.bus_start_station %}selected{% endif %} disabled></option>
                            {% for city, stations in bus_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option {% if request.GET.bus_start_station == station.description %}selected{% endif %} value="{{station.description}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="bus-arrive">Buraya:</label>
                        <select id="bus-arrive" name="bus_arrive_station" class="form-select"
                            aria-label="Default select example">
                            <option {% if not request.GET.bus_arrive_station %}selected{% endif %} disabled></option>
                            {% for city, stations in bus_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option {% if request.GET.bus_arrive_station == station.description %}selected{% endif %} value="{{station.description}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="start-date-1">Gediş tarixi: </label>
                        <input value="{{ request.GET.bus_start_date }}" class="form-control date-input" type="date" name="bus_start_date" id="start-date-1">
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="arrive-date-1">Gəliş tarixi: </label>
                        <input value="{{ request.GET.bus_arrive_date }}" class="form-control date-input arrive-date" type="date" name="bus_arrive_date" id="arrive-date-1" disabled>
                    </div>
                    <div class="col-xl-1 my-2">
                        <label class="form-label" for="passenger_count">Adam sayı: </label>
                        <input value="{% if request.GET.bus_p_count %}{{request.GET.bus_p_count}}{% else %}1{% endif %}" min="1" type="number" id="passenger_count" class="form-control" name="bus_p_count">
                    </div>
                    <div class="col-xl-3 my-2 text-center d-flex align-items-end">
                        <button class="btn btn-primary btn-search flex-grow-1" type="submit">Axtar</button>
                    </div>
                </div>
            </div>
            <div class="mt-3 form-wrapper form-train hidden">
                <div class="row ps-1">
                    <h5>Qatar bileti</h5>
                </div>
                <div class="row">
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="train-start">Burdan:</label>
                        <select id="train-start" name="train_start_station" class="form-select">
                            <option {% if not request.GET.train_start_station %}selected{% endif %} disabled></option>
                            {% for city, stations in train_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                <option {% if request.GET.train_start_station == station.description %}selected{% endif %} value="{{station.description}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="train-arrive">Buraya:</label>
                        <select id="train-arrive" name="train_arrive_station" class="form-select">
                            <option {% if not request.GET.train_arrive_station %}selected{% endif %} disabled></option>
                            {% for city, stations in train_destinations.items %}
                            <optgroup label="{{city}}">
                                {% for station in stations %}
                                    <option {% if request.GET.train_arrive_station == station.description %}selected{% endif %} value="{{station.description}}">{{station.description}}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="start-date-2">Gediş tarixi: </label>
                        <input value="{{ request.GET.train_start_date }}" class="form-control date-input" type="date" name="train_start_date" id="start-date-2">
                    </div>
                    <div class="col-xl-2 my-2">
                        <label class="form-label" for="arrive-date-2">Gəliş tarixi: </label>
                        <input value="{{ request.GET.train_arrive_date }}" class="form-control date-input arrive-date" type="date" name="train_arrive_date" id="arrive-date-2">
                    </div>
                    <div class="col-xl-1 my-2">
                        <label class="form-label" for="passenger_count">Adam Sayı: </label>
                        <input value="{% if request.GET.p_count%}{{request.GET.p_count}}{% else %}1{% endif %}" min="1" type="number" id="passenger_count" class="form-control" name="p_count">
                    </div>
                    <div class="col-xl-3 my-2 text-center d-flex align-items-end">
                        <button class="btn btn-primary btn-search flex-grow-1" type="submit">Axtar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="results">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            {% if request.GET %}
                {% for date, results in results1 %}
                    {% if forloop.counter == 1 %}
                    <h1>{{results.0.starting_point.name}} - {{ results.0.destination.name }}</h1>
                    {% endif %}
                    <h2>{{ date|date:"d-M-Y" }}</h2>
                    {% for result in results %}
                        {% if result.seats_remain|add:"0" >= request.GET.p_count|add:"0" %}
                        <div class="my-5">
                            <div class="custom-card">
                                <span>
                                    <i class="fas fa-train"></i>
                                    {{ result.departures_at|date:"H:i"}} - {{ result.arrives_at|date:"H:i" }}
                                </span>
                                <span><i class="fas fa-user"></i> {{ result.seats_remain }}</span>
                                <button data-id="about_{{result.id}}" class="more-info-btn">{{ result.price|floatformat:2 }} AZN</button>
                            </div>
                            <div id="about_{{result.id}}" class="hidden about-card">
                                <div class="info-part">
                                    <span>Start: {{ result.starting_point.description }} - {{ result.departures_at|date:"d/m/Y H:i"}}</span>
                                    <span>Finish: {{ result.destination.description }} - {{ result.arrives_at|date:"d/m/Y H:i" }}</span>
                                    <span>Bos yer: {{ result.seats_remain }}</span>
                                </div>
                                <div>
                                    <i class="fas fa-wheelchair {% if result.has_seats_for_disabled %}link-primary{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Invalidler ucun yerler"></i>
                                    <i class="fas fa-wifi {% if result.has_wifi %} link-primary {% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content=""></i>
                                    <i class="fas fa-plug {% if result.has_free_snacks %}link-primary{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content=""></i>
                                    <i class="fas fa-utensils {% if result.has_wifi %}link-primary{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content=""></i>
                                    <i class="fas fa-photo-video {% if result.has_multimedia %}link-primary{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content=""></i>
                                    <i class="fas fa-wind {% if result.has_air_conditioning %}link-primary{% endif %}" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content=""></i>
                                </div>
                                <div>
                                    <button
                                        data-type="Adi"
                                        data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                        data-id="{{result.id}}"
                                        data-name="{{result.description}}"
                                        data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                        data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                        data-price="{{result.price|floatformat:2}}"
                                        data-transport="{{result.type}}"
                                        data-seats="{{result.available_tickets}}"
                                        data-total_seats="{{result.capacity}}"
                                        class="add-btn"
                                    >Adi: {{ result.price|floatformat:2 }} AZN</button>
                                    <button
                                        data-type="Ekonom"
                                        data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                        data-id="{{result.id}}"
                                        data-name="{{result.description}}"
                                        data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                        data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                        data-price="{{result.low_cost_price|floatformat:2}}"
                                        data-transport="{{result.type}}"
                                        data-seats="{{result.available_tickets}}"
                                        data-total_seats="{{result.capacity}}"
                                        class="add-btn"
                                    >Ekonom: {{ result.low_cost_price|floatformat:2 }} AZN</button>
                                    <button
                                        data-type="Biznes"
                                        data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                        data-id="{{result.id}}"
                                        data-name="{{result.description}}"
                                        data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                        data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                        data-price="{{result.business_price|floatformat:2}}"
                                        data-transport="{{result.type}}"
                                        data-seats="{{result.available_tickets}}"
                                        data-total_seats="{{result.capacity}}"
                                        class="add-btn"
                                    >Biznes: {{ result.business_price|floatformat:2 }} AZN</button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% empty %}
                    <div class="alert alert-danger" role="alert">Biletlər tapılmadı</div>
                {% endfor %}
            {% endif %}
            </div>
            {% if request.GET.oneortwoway == 'two' %}
                <div class="col-md-6">
                {% if request.GET %}
                    {% for date, results in results2 %}
                        {% if forloop.counter == 1 %}
                        <h1>{{results.0.starting_point.name}} - {{ results.0.destination.name }}</h1>
                        {% endif %}
                        <h2>{{ date|date:"d-M-Y" }}</h2>
                        {% for result in results %}
                            {% if result.seats_remain|add:"0" >= request.GET.p_count|add:"0" %}
                            <div class="my-5">
                                <div class="custom-card">
                                    <span>
                                        <i class="fas fa-train"></i>
                                        {{ result.departures_at|date:"H:i"}} - {{ result.arrives_at|date:"H:i" }}
                                    </span>
                                    <span><i class="fas fa-user"></i> {{ result.seats_remain }}</span>
                                    <button data-id="about_{{result.id}}" class="more-info-btn">{{ result.price|floatformat:2 }} AZN</button>
                                </div>
                                <div id="about_{{result.id}}" class="hidden about-card">
                                    <div class="info-part">
                                        <span>Start: {{ result.starting_point.description }} - {{ result.departures_at|date:"d/m/Y H:i"}}</span>
                                        <span>Finish: {{ result.destination.description }} - {{ result.arrives_at|date:"d/m/Y H:i" }}</span>
                                        <span>Bos yer: {{ result.seats_remain }}</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-wheelchair {% if result.has_seats_for_disabled %}link-primary{% endif %}"></i>
                                        <i class="fas fa-wifi {% if result.has_wifi %}link-primary{% endif %}"></i>
                                        <i class="fas fa-plug {% if result.has_free_snacks %}link-primary{% endif %}"></i>
                                        <i class="fas fa-utensils {% if result.has_wifi %}link-primary{% endif %}"></i>
                                        <i class="fas fa-photo-video {% if result.has_multimedia %}link-primary{% endif %}"></i>
                                        <i class="fas fa-wind {% if result.has_air_conditioning %}link-primary{% endif %}"></i>
                                    </div>
                                    <div>
                                        <button
                                            data-type="Adi"
                                            data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                            data-id="{{result.id}}"
                                            data-name="{{result.description}}"
                                            data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                            data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                            data-price="{{result.price|floatformat:2}}"
                                            data-transport="{{result.type}}"
                                            data-seats="{{result.available_tickets}}"
                                            data-total_seats="{{result.capacity}}"
                                            class="add-btn my-2"
                                        >Adi: {{ result.price|floatformat:2 }} AZN</button>
                                        <button
                                            data-type="Ekonom"
                                            data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                            data-id="{{result.id}}"
                                            data-name="{{result.description}}"
                                            data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                            data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                            data-price="{{result.low_cost_price|floatformat:2}}"
                                            data-transport="{{result.type}}"
                                            data-seats="{{result.available_tickets}}"
                                            data-total_seats="{{result.capacity}}"
                                            class="add-btn my-2"
                                        >Ekonom: {{ result.low_cost_price|floatformat:2 }} AZN</button>
                                        <button
                                            data-type="Biznes"
                                            data-count="{% if request.GET.radio_choice == 'bus-search' %}{{request.GET.bus_p_count}}{% else %}{{request.GET.p_count}}{% endif %}"
                                            data-id="{{result.id}}"
                                            data-name="{{result.description}}"
                                            data-departure_time="{{result.departures_at|date:"d/m/Y H:i"}}"
                                            data-arrive_time="{{result.arrives_at|date:"d/m/Y H:i"}}"
                                            data-price="{{result.business_price|floatformat:2}}"
                                            data-transport="{{result.type}}"
                                            data-seats="{{result.available_tickets}}"
                                            data-total_seats="{{result.capacity}}"
                                            class="add-btn my-2"
                                        >Biznes: {{ result.business_price|floatformat:2 }} AZN</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% empty %}
                        <div class="alert alert-danger" role="alert">Biletlər tapılmadı</div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>

<script src="{% static 'js/dashboard.js' %}"></script>
<script>
    const expand_buttons = document.querySelectorAll(".more-info-btn");
    expand_buttons.forEach(btn=>btn.addEventListener('click',
        ()=>document.getElementById(`${btn.dataset.id}`).classList.toggle('hidden')
    ));
</script>
{% endblock %}