{% extends 'main.html' %}
{% load static %}

{% block title %}Biletlər{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Biletlər səbəti</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="accordion" id="tickets_accordion"></div>
        </div>
        <div class="col-lg-4 my-4 my-lg-0">
            <div class="list-group list">
                <div class="list-group-item">
                    <h2>Ödəniş</h2>
                </div>
                <div class="list-group-item">
                    <p class="info_p price_p">Toplam məbləğ: </p>
                    <p class="info_p quantity_p">Bilet sayı: </p>
                </div>
            </div>
            <div class="list-group-item pay-group-item">
                <button type="button" class="btn btn-primary pay-btn w-100" data-bs-toggle="modal" data-bs-target="#result-modal">
                    Ödəməyə keç
                </button>
                <div class="modal fade" id="result-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary ok-btn" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 position-relative">
        <button class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#bus_image">Avtobus yerləri</button>
        <button class="btn btn-info mx-5" data-bs-toggle="collapse" data-bs-target="#train_image" data-bs-placement="right">Qatar yerləri</button>
        <!-- Bus image -->
        <div class="collapse position-absolute" id="bus_image" style="z-index: 10">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'media/images/bus-59-plan.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- Train image -->
        <div class="collapse position-absolute" id="train_image" style="z-index: 10; top: -400px; left:400px;">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'media/images/train-plan.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/ticket-cart.js' %}"></script>
{% endblock %}