<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/togrul-asadov-782a96177" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/togrul2" role="button"><i class="fab fa-github"></i></a>
        </section>
        <section class="mb-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.</p>
        </section>
        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">TransitAz</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="{% url 'about_us' %}" class="text-white">Haqqimizda</a></li>
                        <li><a href="{% url 'rules' %}" class="text-white">Istifade qaydalari</a></li>
                        <li><a href="#!" class="text-white">Biletlərin qaytarılması</a></li>
                        <li><a href="#!" class="text-white">Qaynar xətt</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Elaqe</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" class="text-white">Ünvan</a></li>
                        <li><a href="#!" class="text-white">Iş birliyi</a></li>
                        <li><a href="#!" class="text-white">Vakansiyalar</a></li>
                        <li><a href="#!" class="text-white"></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3">
        © 2020 Copyright: <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>