{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'main' %}">
			<img src="{% static 'favicon.ico' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
			TransitAz
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
			aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<i class="navbar-toggler-icon"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link {% if path == 'dashboard' %}active{% endif %}"
						aria-current="page" href="{% url 'dashboard' %}">Ana səhifə</a></li>
				<li class="nav-item"><a class="nav-link {% if path == 'search-tickets' %}active{% endif %}"
						href="{% url 'search-tickets' %}">Bilet Axtarışı</a></li>
                <li class="nav-item"><a class="nav-link {% if path == 'map_search' %}active{% endif %}"
                            href="{% url 'map_search' %}">Xəritə</a></li>
				<li class="nav-item">
                    <a class="nav-link {% if path == 'tickets-cart' %}active{% endif %}"
                       href="{% url 'tickets-cart' %}">Bilet səbəti
                        <span class="badge badge-count-tickets bg-secondary">0</span>
                    </a>
                </li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0">
				{% if request.user.is_authenticated %}
				<li class="nav-item dropdown me-2">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Xoş Gəldiniz
						{% if request.user.first_name and request.user.last_name %}
						{{ request.user.first_name }} {{ request.user.last_name }}
						{% else %}
						{{ request.user.username}}
						{% endif%}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item {% if path == 'my-profile' %}active{% endif %}" href="{% url 'my_profile' %}"><i class="fas fa-user-alt"></i> Hesabım</a></li>
						<li><a class="dropdown-item {% if path == 'my-tickets' %}active{% endif %}" href="{% url 'my-tickets' %}"><i class="fas fa-ticket-alt"></i> Biletlərim</a></li>
						<li>
							<a class="dropdown-item logout-link" href="{% url 'logout' %}?next={{path}}">
								<i class="fas fa-sign-out-alt"></i> Hesabdan cıx
							</a>
						</li>
					</ul>
				</li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{path}}">Daxil Ol</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'register' %}?next={{path}}">Hesab Aç</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>

<script>
	updateCountBadge();
</script>