{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'main' %}">
			<img src="{% static 'media/images/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
			TransitAz
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
			aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<i class="navbar-toggler-icon"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link {% if path == 'dashboard' %}active{% endif %}"
						aria-current="page" href="{% url 'dashboard' %}">Ana səhifə</a></li>
				<li class="nav-item"><a class="nav-link {% if path == 'search-tickets' %}active{% endif %}"
						href="{% url 'search-tickets' %}">Bilet Axtarışı</a></li>
                <li class="nav-item"><a class="nav-link {% if path == 'map_search' %}active{% endif %}"
                            href="{% url 'map_search' %}">Xəritə</a></li>
				<li class="nav-item">
                    <a class="nav-link {% if path == 'tickets-cart' %}active{% endif %}"
                       href="{% url 'tickets-cart' %}">Bilet səbəti
                        <span class="badge rounded-pill badge-count-tickets bg-secondary">0</span>
                    </a>
                </li>
			</ul>
			<ul class="navbar-nav mb-2 mb-lg-0">
				{% if request.user.is_authenticated %}
				<li class="nav-item dropdown me-5">
					<a href="#"
                       class="nav-link dropdown-toggle"
                       id="profile-dropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                    >
						{% if request.user.first_name %}
						{{ request.user.first_name }}
						{% else %}
						{{ request.user.username }}
						{% endif%}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 512 512"
                        fill="#eee"
                        style="height: 32px; width: 32px; enable-background:new 0 0 512 512;"
                        xml:space="preserve">
                    <path d="M256,31C131.7,31,31,131.7,31,256s100.7,225,225,225s225-100.7,225-225S380.3,31,256,31z M256,118.1c44.1,0,79.8,35.7,79.8,79.8s-35.7,79.8-79.8,79.8s-79.8-35.7-79.8-79.8S211.9,118.1,256,118.1z M256,430.2c-53.3,0-101-24.1-132.9-61.9c17.1-32.1,50.4-54.3,89.4-54.3c2.2,0,4.4,0.4,6.4,1c11.8,3.8,24.1,6.3,37.1,6.3s25.4-2.4,37.1-6.3c2.1-0.6,4.3-1,6.4-1c38.9,0,72.3,22.1,89.4,54.3C357,406.1,309.3,430.2,256,430.2z"/>
                    </svg>
					</a>
					<ul class="dropdown-menu" aria-labelledby="profile-dropdown">
						<li><a class="dropdown-item {% if path == 'my_profile' %}active{% endif %}" href="{% url 'my_profile' %}"><i class="fas fa-user-alt"></i> Hesabım</a></li>
						<li><a class="dropdown-item {% if path == 'my_tickets' %}active{% endif %}" href="{% url 'my_tickets' %}"><i class="fas fa-ticket-alt"></i> Biletlərim</a></li>
						<li>
							<a class="dropdown-item logout-link" href="{% url 'logout' %}?next={{path}}">
								<i class="fas fa-sign-out-alt"></i> Hesabdan çıx
							</a>
						</li>
					</ul>
				</li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={{path}}">Daxil Ol</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'register' %}?next={{path}}">Hesab Aç</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>

<script>
	updateCountBadge();
</script>