.wrapper {
        height:100vh;
    }

.form-wrapper{
    z-index: 9999;
    position:absolute;
    background-color: #fff;
    border: 1px solid #727272;
    border-top: none;
    border-left: none;
    border-radius: 0 0 10px ;
}

.form-wrapper form {
    padding: 20px 100px;
}

.form-wrapper .hide-form {
    width: 406px;
    background-color: #ffffff;
    border:none;
    border-radius: 0 0 10px;
}

.form-wrapper .hide-form:hover {
    background-color: #efefef;
}

#map {
    height: 90vh;
    width: 100%;
}