.wrapper{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.message-box{
    border-radius: 5px;
    border: 1px solid #777;
    padding: 100px;
    box-shadow: 1px 15px 25px rgba(0,0,0, .25);
}
