{% extends 'main.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block head %}
    <style>
        .c-main {
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .messages {
            margin-top: 20px;
        }

    </style>
{% endblock %}

{% block body %}
<div class="container c-main">
    <div class="form-wrapper w-50">
        <h1>Şifrəni dəyiş</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password" class="form-label">Mövcud şifrə</label>
                <input name="old_password" type="password" class="form-control" id="old_password" placeholder="Mövcud şifrə" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Yeni şifrə</label>
                <input name="password1" type="password" class="form-control" id="password1" placeholder="Yeni şifrə" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Yeni şifrənin təstiqi</label>
                <input name="password2" type="password" class="form-control" id="password2" placeholder="Yeni şifrənin təstiqi" required>
            </div>
            <div class="text-end">
                <a class="btn btn-primary-outline me-3" href="{% url 'my_profile' %}">Arxaya</a>
                <button type="submit" class="w-25 btn btn-primary">Dəyiş</button>
            </div>
        </form>
    </div>
    {% if messages %}
    <ul class="messages list-unstyled">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}