{% extends 'main.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block head %}
    <style>
        .c-main {
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .messages {
            margin-top: 20px;
            list-style: none;
        }

    </style>
{% endblock %}

{% block body %}
<div class="container c-main">
    <div class="text-start w-50 mb-5">
        <a class="btn btn-primary" href="{% url 'my_profile' %}">Go Back</a>
    </div>
    <div class="form-wrapper w-50">
        <h1>Sifreni deyis</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password" class="form-label">Movcud sifre</label>
                <input name="old_password" type="password" class="form-control" id="old_password" placeholder="Movcud sifre" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Yeni sifre</label>
                <input name="password1" type="password" class="form-control" id="password1" placeholder="Yeni sifre" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Yeni sifre</label>
                <input name="password2" type="password" class="form-control" id="password2" placeholder="Yeni sifre" required>
            </div>
            <div class="text-end">
                <button type="submit" class="w-25 btn btn-primary">Deyis</button>
            </div>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}