{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<title>Daxil Ol</title>
	<style>
		body {
			background-image: url({% static 'media/images/bgi.png' %});
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<form action="" method="post">
			{% csrf_token %}
			<div class="row header">
				<h1>Transit Az</h1>
				<h5>Hesaba daxil</h5>
			</div>
{#			<div class="mt-5 mb-3 row text-sm-end">#}
{#				<label for="inputUsername" class="col-sm-4 col-form-label">Istifadəçi#}
{#					adı</label>#}
{#				<div class="col-sm-8">#}
{#					<input name="username" type="text" class="form-control" id="inputUsername"#}
{#						placeholder="İstifadəçi adı" required>#}
{#				</div>#}
{#			</div>#}
{#			<div class="mb-3 row text-sm-end">#}
{#				<label for="inputPassword" class="col-sm-4 col-form-label">Şifrə</label>#}
{#				<div class="col-sm-8">#}
{#					<input name="password" type="password" class="form-control" id="inputPassword" placeholder="*******"#}
{#						required>#}
{#				</div>#}
{#			</div>#}
            <div class="mb-3 row text-sm-end">
                <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control" id="username" name="username" type="text" placeholder="a" required>
                        <label for="username">Istifadeci adi</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row text-sm-end">
                <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control" id="password" name="password" type="password" placeholder="a" required>
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
			<div class="mb-3 row">
				<label for="inputRemember" class="col-4 col-form-check-label text-sm-end">Yadda
					saxla</label>
				<div class="col-8">
					<input class="form-check-input" type="checkbox" name="remember_me" value="remember_me"
						id="inputRemember">
				</div>
			</div>
			<div class="btn-wrapper">
				<button class="btn btn-primary me-3" type="submit">Daxil ol</button>
				<a href="{% url 'register' %}" class="btn btn-outline-primary">Hesab aç</a>
			</div>
			<div class="mt-4 d-flex justify-content-center">
				<a class="btn btn-outline-danger btn-sm" href="#">Şifrə bərpa et</a>
			</div>

		</form>
	</div>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>