{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<title>Sifreni berpa Et</title>
	<style>
		body {
			background-image: url({% static 'media/images/bgi.png' %});
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<form action="" method="post">
            <h1>Yeni sifreni daxil edin</h1>
            {% csrf_token %}
            {% for field in form %}
            <div>
            {% if forloop.counter == 1 %}
                <label for="id_new_password1" class="form-label">Yeni sifre</label>
            {% elif forloop.counter == 2 %}
                <label for="id_new_password2" class="form-label">Yeni sifrenin tekrari</label>
            {% endif %}
            {{ field }}
            </div>
            {% endfor %}
            <div class="text-end mt-3">
{#                <a class='btn btn-outline-danger' href="{% url 'login' %}">Imtina</a>#}
                <input type="submit" class="btn btn-primary" value="Yenile">
            </div>
		</form>
	</div>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>

        const input1 = document.querySelector('#id_new_password1');
        const input2 = document.querySelector('#id_new_password2');

        input1.classList.add('form-control');
        input2.classList.add('form-control');
    </script>
</body>
</html>