{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<title>Sifreni berpa Et</title>
	<style>
		body {
			background-image: url({% static 'media/images/bgi.png' %});
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<form action="" method="post">
            <h1>Password Reset</h1>
            <p>Enter your email address here. We will email you so you can restore your password.</p>
			{% csrf_token %}
            {{form}}
            <div class="text-end mt-3">
                <a class='btn btn-outline-danger' href="{% url 'login' %}">Imtina</a>
                <input class='btn btn-primary' type="submit" value="Göndər">
            </div>
		</form>
	</div>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        const label = document.querySelector('label');
        const input = document.querySelector('#id_email');

        label.classList.add('form-label');
        input.classList.add('form-control');
    </script>
</body>
</html>