{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<title>Sifreni berpa Et</title>
	<style>
		body {
			background-image: url({% static 'media/images/bgi.png' %});
		}
	</style>
</head>

<body>
	<div class="wrapper">
        <form>
            <h1>Email Göndərildi</h1>
            <p>Şifrə bərpası məktubu göndərildi, zəhmət olmasa elektron poçtunuzu yoxlayın.</p>
        </form>
	</div>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>